@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --bs-body-font-family: 'Nunito', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.text-small {
  font-size: 12px;
}

.progress-bar-container {
  position: relative;
}
.progress-bar-tooltip {
  display: none;
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 5px 1px;

}
.progress-bar-panel:hover {
  cursor: pointer;
}
.progress-bar-panel:hover + .progress-bar-tooltip {
  display: block;
}
.img-not-found {
  height: 250px;
  margin: 0 auto;
  display: block;
}
.option-edit-buttons {
  margin-left: 10px;
}
.option-edit-buttons > button {
  width: 40px;
  height: 40px;
}
.option-set-correct-btn {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  cursor: pointer;
}
.option-set-correct-btn  > input {
  display: none;
  cursor: pointer;
}
.option-set-correct-btn  > label {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 2rem;
  border: 1px solid #198754;
  color: white;
  cursor: pointer;
}
.option-set-correct-btn  > label:hover {
  /*background-color: #198754;*/
  box-shadow: #198754 0 0 3px 1px;
}
.option-set-correct-btn  > label:hover > i {
  opacity: 0;
}
.option-set-correct-btn  > label > i {
  opacity: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.option-set-correct-btn  > input:checked + label > i {
  opacity: 1;
}
.option-set-correct-btn  > input:checked + label {
  background-color: #198754;
}
button[disabled] {
  cursor: not-allowed;
}
.success-save {
  box-shadow: 0 0 10px 2px rgba(28, 142, 15, 0.35);
}
.error-save {
  box-shadow: 0 0 10px 2px rgba(161, 0, 0, 0.62);
}
.error-wrapper > .accordion-button[aria-expanded="true"] {
  padding-bottom: 27px;
}
.error-wrapper > .accordion-button[aria-expanded="true"] > .error {
  position: absolute;
  left: 30px;
  bottom: 5px;
  margin-bottom: 0;
  font-size: 14px;
  color: #dc3545;
}
.option-error {
  margin-bottom: 0;
  font-size: 14px;
  color: #dc3545;
  margin-left: .5rem;
}