@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --bs-body-font-family: 'Nunito', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.text-small {
  font-size: 12px;
}

.progress-bar-container {
  position: relative;
}
.progress-bar-tooltip {
  display: none;
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 5px 1px;

}
.progress-bar-panel:hover {
  cursor: pointer;
}
.progress-bar-panel:hover + .progress-bar-tooltip {
  display: block;
}
.img-not-found {
  height: 250px;
  margin: 0 auto;
  display: block;
}